body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} 

h1 {
    color: #16151a;
}

input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #008d0e;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #16151a;
    color: rgb(0, 255, 102);
    cursor: pointer;
}

.pagina {
    left: 10px;
    padding: 6px 12px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: rgb(196, 57, 57);
    color: rgb(255, 255, 255);
}

.pagina:hover {
    background-color: rgb(163, 189, 198);
}

button:hover {
    background-color: #444;
}

p {
    margin: 10px;
  color:#333;
}