body {
    text-align: center;
} 

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html {
    background-color: rgb(255, 249, 165);
}

h1 {
    color: #16151a;
    margin: 10px;
}

input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #b3ffb3;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #16151a;
    color: rgb(230, 255, 1);
    cursor: pointer;
}

.pagina {
    left: 10px;
    padding: 6px 12px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: rgb(178, 58, 58);
    color: rgb(255, 255, 255);
}

.pagina:hover {
    background-color: rgb(163, 189, 198);
}

button:hover {
    background-color: #444;
}

p {
    margin: 10px;
  color:#333;
}