body {
    text-align: center;
} 

* {
    font-family:'Courier New', Courier, monospace
}

html {
    background-color: rgb(118, 139, 255);
}

h1 {
    color: #16151a;
    margin: 10px;
}

input {
    padding: 5px;
    margin: 10px;
    border: 1px solid #b3ffb3;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #16151a;
    color: rgba(0, 189, 214, 0.84);
    cursor: pointer;
}

.pagina {
    left: 10px;
    padding: 6px 12px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: rgb(90, 168, 0);
    color: rgb(255, 255, 255);
}

.pagina:hover {
    background-color: rgb(163, 189, 198);
}

button:hover {
    background-color: #444;
}

p {
    margin: 10px;
  color:#333;
}